<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.secretatomics.Diver.processQueue</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.secretatomics.VisualIntelligencePipeline</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>secretatomics</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>OpenVisualIntelligenceIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need access to your photo library to save captured visual intelligence images.</string>
</dict>
</plist>
